@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-montserrat);
}

 html, body {
  overflow-x: hidden;
} 

.dark body {
  @apply bg-themeDark text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.8s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
